.sidebar{
	background-color: #222d32;
	height: 659px;
}
.headbar{
	height: 50px;
}

body{
  background-color: #ecf0f5;
}

.footerbar{
	background-color: #fff;
	height: 60px;
	border-top:3px solid #aaa;
}

.sideHeader{
	height: 50px;
	background-color: #367fa9;
	font-size: 20px;
	color: #fff;
	text-align: center;
	padding-top: 10px;
}

.sideHeader a{

	color: #fff;
	text-decoration: none;


}
.barIcon{
	height: 60px;
	padding-top: 18px;
	font-size: 15px;

}

.userDetails{
	height: 20px;

}

.headerFont{
  color: #fff;

}


.headerFont:hover{
background-color:none;
}

.userImg{
    padding-left: 15px;
	height: 10px;
  padding-top: 25px;
 
	

}

.uname{
	padding-top: 15px;
	font-size: 12px;
	color:#fff;


}

.uname1{
	padding-top: 15px;
	font-size: 12px;
	color:#fff;



}



.online{
	color: #fff;
	font-size: 12px;

}


#imaginary_container{
    margin-top:10%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}


.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;

}
.stylish-input-group button{
    border:0;
    background:transparent;

}

.mainNav{
		height: 30px;
	font-size: 11px;
	color: #4b646f;
	padding-top: 10px;
	background-color: #1a2226;
	margin-top: 10px;
}


.headicon{
	font-size: 13px;
	font-weight: bold;
	padding-top: 20px;
	color: #fff;
}

.imgUser{
	height: 35px;

	padding-left: 25px;
  border-radius: 100%;
   
}




.imgtext:hover{
cursor: pointer;
background-color: #357ca5;
height: 50px;

}


.imgtext{
  font-size: 13px;
   padding-left: 10px;
   padding-top: 15px;
    color: #fff;
text-align: center;
padding-right: 15px;

}

.imgtext1{
  font-size: 13px;
    padding-right: 15px;
   padding-top: 8px;
    color: #fff;


}


.imgtext1:hover{
cursor: pointer;
background-color: #357ca5;
height: 50px;
}


.extraa{
	height: 50px;
}


.dashboard{
	color:#fff;
	background-color: #222d32 !important;
	background-color: #222d32;
	border: none;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  margin-top: 200px;
}

.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
ul li{
	list-style: none;
}


.content1{
	height:40px;
	
	

}

.content2{
	height:100px;
	background-color: #fff;	
}

.content3a{
	/*height:100px;*/
	background-color: #00c0ef;	
}


.content3b{
	/*height:100px;*/
	background-color: #dd4b39;	
}


.content3c{
	/*height:100px;*/
	background-color: #00a65a;	
}


.content3d{
	/*height:100px;*/
	background-color: #00c0ef;	
}

.content4{
	height:100px;
	background-color: #fff
}

.content5{
  height: auto;
  background-color: #fff;
  margin-top: 8px;
  border-top: 3px solid #d2d6de;
}

.mybox,.mybox1{
  position: relative;
border-radius: 3px;
background: #ffffff;

margin-bottom: 20px;
width: 100%;
/*box-shadow: 0 1px 1px rgba(0,0,0,0.1);*/
}

.mybox1{
  padding-right: 30px !important;
}
.content5a{
  height: 50px;
}

.content5b{
  height: 250px;
/* border-top: 0.5px solid #ccc;*/
 /* border-bottom: 0.5px solid #ccc;*/
}

.content5c{
  height: 102px;

  border-bottom: 0.5px solid #ccc;
  margin-top: 25px;
}

.content6{
 /* margin-top: 40px;*/
 /* height: 390px;*/
  /*background-color: #fff;*/
  border-top: 3px solid #00a65a;
}

.content6-right{
  margin-top: 40px;
  height: 390px;
 
}

.content6a{
  height: 50px;
}

.content6b{
 height: 300px; 
}


.content61{
  height: 90px;

}

.content62{
 height: 90px; 

}
.content7{
  margin-top: 40px;
  height: 350px;
  background-color: #fff;
}
.content7a{
  height: 270px;
}
.content7b{
  height: 50px;
}
.red{
  background-color: #dd4b39;
}

.green{
  background-color: #00a65a;
}

.white{
  background-color: #fff;
}




.yellow{
  background-color: #f39c12;
}

.blue{
  background-color: #00c0ef; 
}


.red-op{
  background-color: #b13c2e;
}

.green-op{
  background-color: #008548;
}


.yellow-op{
  background-color: #c27d0e;
}

.blue-op{
  background-color: #009abf; 
}



.redText{
  color: #dd4b39;
}

.greenText{
 color: #00a65a;
}


.yellowText{
  color: #f39c12 !important;
}

.content5a-icon{
  padding-top: 10px;
}

.content5b2a{
  height: 195px;
}

.sm{
  height: 8px;
  border-radius: 0%;
}

.cogImg{
 /* padding-top: 18px;
  padding-left: 25px;*/
  color: #fff;
}

.info-box{
  padding-top: 5px;
}

.gPlusImg{
  padding-top: 26px;
  padding-left: 12px;
  color: #fff;
}


.cartImg{
  padding-top: 26px;
  padding-left: 12px;
  color: #fff;
}



.userImg{
height: 30px;
  color: #fff;
}


li{
  list-style: none;
}

.description-block{
 
  border-right: 0.5px solid #ccc;
}


.content6-icons{
  height:40px;
  padding-top:0px; 
  padding-left: 10px;
}


.info-box-text{
  color:#fff; 
  margin-top: 5px;
  font-size: 14px;
  font-family: cursive;

}

.licon{
  height: 93px !important;
}


.info-box-number{
  color:#fff; 
   font-size: 14px;
}

.content6-progressbar{
  height: 3px;
  margin-top: 5px;


}

.progress-description1{
  color: #fff;
 font-size: 14px;
margin-top: -10px;

}

.invert{
    -webkit-filter: invert(100%);
}

/*.label{
	position: absolute;
	top: 11px;
	text-align: center;
	font-size: 0px;
	padding: 2px 3px;
	line-height: .9;
}*/


