/*add this class next to form-control*/
.inputBox{
  font-family:'Montserrat',sans-serif;
  height: 30px !important;
  border: none !important;
  border-left: 1px solid #979797 !important;
  font-size: 12px !important;
}
.valid_box{
  height: 60px;
}
.inputBox:hover{
  border-left:1px solid #039BE5 !important;
  box-shadow: none !important;
}
.back_btn:hover{
  color: #666;
}
/**********************/
/*input icon*/
/*input icon*/
/*.inputIcon{
  height: 30px !important;
  font-size: 18px !important;
  color: #979797 !important;
  background-color: #ffffff !important;
  border: none !important;
}*/
.inputIcon{
	background: #fff;
}
.icon_Clr{
  color: #F4B400;
}
/*************************************/
/*Add this class next to input-group*/
/*.inputBox-main{
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  height: 30px !important;
  font-size: 12px !important;
}*/

.ModalPd{
  padding: 0px !important;
}
.Amenities_mrg{
  padding-top:10px;
}
.mgbt{
  margin-bottom: 0px !important;
  padding-bottom: 4px;
}

.title_pd{
  padding-top: 15px;
  padding-bottom: 15px;
}

.hr_border1{
  margin-bottom: 30px !important;
}
.FF4I{
  
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  text-align: center;
  font-size: 18px;
  padding: 5px;
}
.FF4I1{
  border: 1px solid #000;
  text-align: center;
  font-size: 16px;
  height: 320px;
}
.left{
  padding-left: 5px;
}
.mb20{
  margin-bottom: 20px;
}
.pt20{
  padding-top: 20px
}
.pl21{
  padding-left: 21px;
}
.pl24{
  padding-left: 24px;
}
.pl15{
  padding-left: 15px;
}
.pl10{
  padding-left: 10px;
}
.pl11{
  padding-left: 11px;
}
.pl3{
  padding-left: 3px;
}
.pl8{
  padding-left: 8px;
}
.pl2{
  padding-left: 2px;
}
.pl35{
  padding-left: 35px;
}
.pl87{
  padding-left: 87px;
}
.pl25{
  padding-left: 25px;
}
.pl61{
  padding-left: 61px;
}
.pl14{
  padding-left: 14px;
}
.pl18{
  padding-left: 18px;
}
.pl0{
  padding-left: 0px;
}

