.App {
/*  text-align: center;
*/}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#sidebar{
  height: 100vh!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------background colors of admin page -----------*/

.headerbackgroundcolor
{
    background-color: #3c8dbc;
  }

.headereffect
{
    width: 94%!important;
  }
  .dashboardeffect
{
    width: 94.2%!important;
  }
.leftsidebarbackgroundcolor{
  position: fixed!important;
  left: 15px;
}

.dasbordbackgroundcolor{
  background-color: #eee;
  height:au;
}

.emptyclass{
  height: 100px;
}

.tableinnetWrap1 {
    border-top: 2px solid #00c0ef !important;
}

.innerblock {
    display: block;
    min-height: 80px;
    background: #fff;
    border-radius: 2px;
}

.innerblock1 {
    min-height: 3000px;
    padding: 1% 1% 1% 1%!important;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 5px;
    margin-bottom: 15px;
}

.noLRPad {
    padding-left: 0%!important;
    padding-right: 0%!important;
}

.bodyDiv{
  background-color: #dadada;
}