.mt-10{
	margin-top: 10px;
}
.headline{
    font-size: 17px;
    color: #4db55c;
}

.headlineBlack{
	color: #000;
    font-size: 17px;
}
.build_img3{
	width: 235px;
    height: 228px;
    padding-top: 70px;
}
.btnNext1{
    margin-right: 14px;
}