.CP1{
	text-align: center;
    font-size: 40px;
    color:#3784db;
}
.CP2{
	text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
.CP3{
	text-align: center;
    font-size: 22px;
}
.CP4{
	text-align: center;
    font-size: 23px;
}
.CP5{

}
.CP6{
	text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.CP7{
    text-align: center;
}