.needle{
    position: absolute;
    float: left;
   
    right: 192px;
    bottom: 33px;
/*    transform: rotate(-90deg);
    transform-origin: bottom center;

    animation-name: needleMovement;
    animation-duration: 3s;    

    -webkit-animation-fill-mode: forwards; 
    animation-fill-mode: forwards;    
*/
}
.needleXs{
    right: 135px !important;
    position: absolute;
    float: left;
    bottom: 33px;
}
/* Standard syntax */




/*sellometer css above*/
.CP1{
	text-align: center;
    font-size: 42px;
    color: #3784db;
    /*position: relative;
    left: 40px;
    top: 44px;*/
    padding-top: 39px;
    padding-left: 0px;
}
.CP2{
	text-align: center;
    font-size: 22px;
}
.CP3{
	text-align: center;
    font-size: 22px;
}
.CP4{
	text-align: center;
    font-size: 23px;
}
.CP5{

}
.CP6{
	text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.CP7{
    text-align: center;
}
.fontColor{
    font-style: italic;
    color: #ff9100;
}
.congColor{
    color: #3684db;
    font-style: italic;
}