/*@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}*/
.mt12{
    margin-top: 12px;
}
.mt20{
    margin-top: 15px;
}
.propertyDescription{
    padding-left: 22px;
    font-size:12px;
}
.propertyNameHead h4{
    font-size: 16px;
}
.oneProp{
    font-family: 'Roboto', sans-serif;
	height: 430px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #ccc;
}
.noPad{
	padding: 0px !important;
}
.mt10{
	margin-top: 10px;
}
.mt40{
    margin-top: 40px;
}
.mt30{
	margin-top: 30px;
}
.bBottom{
	border-bottom: 1px solid #ccc;
}
.pr8{
	padding-right:2px;
}
.pl30{
    padding-left: 30px;
}
.imgSize{
	height: 228px;
}
.zoom{
     transition: transform .5s;
}

.imgZoom{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden !important;
}
.zoom:hover{

    transform: scale(1.2); 
}
.textC{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 31px;
    font-weight: 600;
    line-height: 2;
    word-spacing: 1px;
}
.priceDiv{
	height: 30px;
}
#bgImg{
	 z-index: 2;
	 position: absolute;
	 top: 0px; 
	 left: 0px; 
	 /*background-image:url(/images/photo2.jpeg);*/
	/*background-position:100px 200px;*/
	 height:50px;
	 width:50px;
	 background-color: #fff;
}
#info1{
    font-family: 'Roboto', sans-serif;
	z-index: 1;
    position: absolute;
    top: 19px;
    left: 16px;
    height: 25px;
    width: 117px;
    background-color: rgb(0,0,0,0.9);
    border-radius: 4px;
    text-align: center;
    font-size: 10px;
    color: #fff;
    padding-top: 6px;
}
#info2{
    font-family: 'Roboto', sans-serif;
	z-index: 1;
    position: absolute;
    top: 19px;
    left: 141px;
    height: 25px;
    width: 64px;
    background-color: #229ce3;
    border-radius: 4px; 
    text-align: center;
    color: #fff;
    font-size: 10px;
    padding-top: 6px;
}

#priceDisplay{
    font-family: 'Roboto', sans-serif;
	z-index: 2;
    position: absolute;
    top: 180px;
    left: 17px;
    height: 30px;
    font-size: 12px;
    font-weight:600;
    width: 101px;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    color: #0a79f1ed;
    padding-top: 8px;
    
}
.iconContainer{
   z-index: 2;
    position: absolute;
    top: 180px;
    left: 235px;
    height: 36px;
    width: 101px;
    text-align: center;
    color: #fff;
    padding-top: 2px;
}
.likeIcon{
    cursor: pointer;
    background-color: rgb(0,0,0,0.7);
    height: 30px;
    padding-top: 5px;
    margin-left: 9px;
    border-radius: 2px;
    margin-top: 2px;
}
.circle{
       background-color: #000;
    height: 5px;
    width: 5px;
    margin-top: -4px;
    border-radius: 50%;
    margin-right: 21px;
}
.hrLineProp
{
    background-color: #333;
    height: 2px;
}
.iconColor{
    font-size: 12px;

}
.mapIcon {
    font-size: 15px;
    color: #229ce3 !important;
}
.propertyNameHead{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.bottomDiv{
     font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.customButtom{
    font-family: 'Roboto', sans-serif;
    background-color: #229ce3;
     margin-left: 18px; 
    font-size: 13px;
    color: #fff;
}
.customButtom:hover{
    color: #fff;
}
.dotDiv{
    background-color: #000;
    border-radius: 50%;
    height: 5px;
    width: 5px;
}
.dotDivRight{
    background-color: #000;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin-left: 8px;

}
.mainDiv{
       width: 45px;
    height: 4px;
    margin-left: 7px;
    background: #000;
    margin-top: -9px;

}
.mlDot{
        margin-left: 557px;

}
.mt12{
    margin-top: 12px;
}