/*add this class next to form-control*/
.inputBox{
  font-family:'Montserrat',sans-serif;
  height: 30px !important;
  border: none !important;
  border-left: 1px solid #979797 !important;
  font-size: 12px !important;
}
.valid_box{
  height: 60px;
}
.inputBox:hover{
  border-left:1px solid #039BE5 !important;
  box-shadow: none !important;
}
.back_btn:hover{
  color: #666;
}
/**********************/
/*input icon*/
/*input icon*/
/*.inputIcon{
  height: 30px !important;
  font-size: 18px !important;
  color: #979797 !important;
  background-color: #ffffff !important;
  border: none !important;
}*/
.inputIcon{
	background: #fff;
}
.icon_Clr{
  color: #F4B400;
}
/*************************************/
/*Add this class next to input-group*/
/*.inputBox-main{
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  height: 30px !important;
  font-size: 12px !important;
}*/

.ModalPd{
  padding: 0px !important;
}
.Amenities_mrg{
  padding-top:10px;
}
.mgbt{
  margin-bottom: 0px !important;
  padding-bottom: 4px;
}

.title_pd{
  padding-top: 15px;
  padding-bottom: 15px;
}

.hr_border1{
  margin-bottom: 30px !important;
}