.BoxSize{
	height: 768px;
	background-image: url("/images/TGK-bg.png");
}
.hImg{
	height: 100px;
	text-align: center;
}
.navText{
	color: #fff !important;
}
.hText{
	text-align: center;
	color: #fff;
	margin-top: 45px;
    margin-left: 30px;
}
.hText1{
	margin-top: 35px;
}
.btn-bg{
	background-color: #fff;
	color: #000;
}
.ml-10{
	margin-left: 10px;
}
.mt-10{
	margin-top: 10px;
}
.hSearch{
	margin-top: 21px;
	margin-left: 56px;
    width: 400px;
    height: 43px;
}
.S-img{

}