.BoxSize{
  height: 672px;
  background-image: url("/images/TGK_Post.png");
}

.nav>li>a:hover {
    text-decoration: none;
    /* color: #fff; */
    background-color: #795050;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color:#fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #8f90ce;
    border-color: #337ab7;
}
.dropdown-menu > li > a {
    color: #312f2f;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #fff;
}
.hImg{
  height: 100px;
  text-align: center;
  margin-top: 24px;
}
.navText{
  background-color: transparent !important;
    margin-top: 21px;
    margin-left: 29px;
    margin-top: 24px;
}
.hText{
  text-align: center;
  color: #fff;
  margin-top: 45px;
    margin-left: 30px;
}
.hText1{
  margin-top: 35px;
}
.btn-bg{
  background-color: #fff;
  color: #000;
}
.ml-10{
  margin-left: 10px;
}
.mt-10{
  margin-top: 10px;
}
.hSearch{
  margin-top: 21px;
    margin-left: 92px;
    width: 400px;
    height: 43px;
}
.S-img{
  left: 92px;
    width: 71px;
    height: 43px;
    position: relative;
    top: 21px;
    background-image: url("/images/TGK-key.png");
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-color: #000;
}
.btnPost{
    width: 161px;
    height: 88px;
    font-size: 22px;
    border-bottom: 5px solid #044b88;
}
.postDetails{
  font-size: 19px;
    color: #fff;
    text-align: center;
    margin-left: 9px;
    margin-bottom: 11px;
}
.postDetails1{
  margin-left: 12px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
}
.postDetails2{
   color: #fff;
   margin-left: 40px;
}
.postDetails3{
    color: #fff;
    letter-spacing: 1px;
}
.mt-64{
  margin-top: 64px;
}
.br2{
  border-right: 2px solid #fff;
    padding-left: 39px;
    color: #fff;
    text-align: center;
}

/*.App {
  text-align: center;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.agenda{
  text-align: left;
  margin-left: 150px;
}

.mynavbar{
  color: #fff;
  text-decoration: none;
}

.mynavbar a{
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
}

.post{
  font-weight: normal;
  text-align: left;
  margin-left: 50px;
  box-shadow: 0px 0px 20px #666;
  padding: 30px;
  margin-bottom: 30px;
  width: 85%;
}

button{
  padding: 5px;
  border: 0px;
  background-color: #fff;
  color: #666;
  font-weight: bold;
}

.block{
  background-color: #fff;
  color: #666;
}

.orangebg{
  background-color: #ffc107;
}

a{
  color: #333 !important;
}

a .active{
  color: #ffc107;
}