/*footer css*/
.footerDiv{
    height: 540px;
    background-color: #2a3b93;
    border-top: 20px solid #3969fa;

}
.footerContent{
  padding-top: 65px;
}
.footerImgContainer img{
  height: 100px;
}
.footerContactDetails{
  color: #efefef;
  font-size: 12px;
}
.footerContactDetails label{
  font-size: 14px;
}
.footerScocial
{
   height: 30px;
    border-radius: 50%;
    padding: 0 !important;
    background-color: #fff;
    padding-top: 4px !important;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 17px;
    color: #2a3b93;
    margin-bottom: 20px;
}
.footerScocial > a > i{
    color: #2a3b93;
}
.footerScocial a : visited{
    color: #2a3b93;
}
.bottomDivFooter{
    background-color: #1c2c66;
    height: 50px;
    padding-top: 15px;
    color: #fff;
}
.bottomDivFooter label{
  font-size: 12px;
  font-weight: normal !important;
}
.rightDiv label{
  margin-left: 35px;
}
.footerContactUs label{
	color: #fff;
	font-size: 16px;
}
.footerContactUs {
	text-align: center;
}
.sendButton{
  font-family: 'Roboto', sans-serif;
    background-color: #376bff;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 9px;
    border-radius: 3px;
    color: #fff;
}
textarea::placeholder{
	color:#999;
	font-size: 14px;
	padding-left: 4px;

}
.ht50{
	height: 50px;
}
.contactDetails{
	 font-size: 14px;
    text-align: left;
    color: #fff;
    margin-top: 10px;
    margin-left: 17px;

}
.fontMobile{
    font-size: 20px !important;

}
.contactDetails i{
	font-size: 11px;
}
.mt20{
	margin-top: 20px;
}
.mt50{
    margin-top: 87px;
}
.ml20{
	margin-left: 25px;
}
.inputBoxRequest {
    font-family: 'Montserrat',sans-serif;
    height: 40px !important;
    border: 1px solid #979797 !important;
    font-size: 14px !important;
}
.mt40{
	margin-top: 40px;
}
.ml10{
	    margin-left: 10px;

}