.propertyBox{
	border: 1px solid #ddd;
	height: 170px; 
	margin-top: 20px;
	padding: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

.propertyImgDiv{
	height: 150px;
	border: 1px solid #ddd;
	width: 200px;
}

.myPropertiesInternal{
	height:42px;
}

.headerDiv{
	background-color: #044890 !important;
	height: 100px;
}

.propertyHaedText{
	font-weight: bold;
}
.propertySubText1{
	font-weight: bold;
	font-size: 16px;
}
.propertySubText2{
	font-weight: bold;
	font-size: 15px;
}
.mt20{
	margin-top: 20px;
}