.allocateFA{
	margin-top: 30px;
}

.button-4{
  width:140px;
  height:50px;
  float:left;
  text-align:center;
  border:2px solid #34495e;
  cursor:pointer;
  position:relative;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
}
.button-4  a{
  font-family:arial;
  font-size:16px;
  color:#34495e;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-4{
  width:140px;
  height:50px;
  left:-140px;
  background:#34495e;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.eff-5{
  width:140px;
  height:50px;
  left:-140px;
  background:#ff0000;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-4:hover .eff-4{
  left:0;
}

.button-4:hover .eff-5{
  left:0;
}
.button-4:hover a{
  color:#fff;
}
