.contentHolder{
    background-color: #fff;
    height:40%;
    border-style: dotted;
    border-color: #aaa;
    border-width: 2px;
    height: 293px;
}
.backGround{
    margin-top: 30px
}
.autoHeight{
    height: auto !important;
}
.uploadImg{
    /*margin-bottom: 68px;*/
    margin-top: 45px;
}
.uploadVideo{
    margin-bottom: 20px;
    margin-top: 45px;
}
.mt78{
    margin-top: 78px;
}

.imgcss{
   height: 50px;
   margin-top: 20px;
}
.imgLabel{
    position: absolute;
    left: 172px;
    top: -11px;
}

/*new css*/

.custFaTimes{
  position: absolute;
  margin-top: -5px;
  margin-left: 84%;
  z-index: 1;
  font-size: 18px;
  cursor: pointer;
}

.clr_k{
height:80px;
background-color: #f2f2f2;
font-family:'Montserrat-Regular';
cursor: pointer;
border: 2px dotted #ccc;
}

.hand_icon{
margin-left: 38%;
  margin-top: 10px;
}

.hand_icon2{
margin-left: 28%;
  margin-top: 10px;
}

.hand_icon1{
  margin-left: 26%;
  margin-top: 11px;
}

.click_input{
width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin-left: -15px;
}

.containerC:hover .imagCe {
  opacity: 0.3;
}
.containerC:hover .middleC {
  opacity: 1;
}

.custFaTimes1{
  position: absolute;
  margin-left: 76%;
  margin-top: 29%;
  z-index: 1;
  font-size: 18px;
  cursor: pointer;
}
.imageC {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middleC {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.textCA {
  background-color: #666666;
  color: white;
  opacity: 0.5;
  font-size: 16px;
  padding: 16px 32px;
}

.marBtm{
    margin-bottom:20px;
}
.under_ln{
    font-family: sans-serif;
    letter-spacing: 1px;
}
.tempL{
  /*margin-left: -30px;
  margin-top: 10px;*/
  position: relative;
  left: 0px;
  top: 55px;
}
.format1{
  font-size: 13px;
   margin-top: 34px;
}
.format2{
  font-size: 13px;
   margin-top: 34px;
}