.locSpan{
	font-size: 18px;
    padding-left: 79px;
    margin-top: 5px;
}
.locH2{
	text-align: center;
}
.orSeparatorLine{
	text-align: center;
	border-top: 1px solid #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
}

.wordContainer{
	margin-top: -10px;
	background-color: #fff;
}
.actionArea{
	margin-top: 100px;
}