.pLabel{
	color: #fff !important;
	height: 40px;
	width: 100%;
	font-size: 15px;
	align-content: center;
}

.dropHeader{
}

.caret{
	float: right;
	margin-top: 8px;
}
.pDrop{
	margin-top: 20px;
}
.pDrop .btn{
	border-radius: 0px;
}
 .pDrop .btn:focus, .btn:hover{
 	outline: none !important;
 }

/*property list box*/
.propertyBox{
	border: 1px solid #ddd;
	height: 170px; 
	margin-top: 20px;
	padding: 10px;
	padding-left: 2%;
	padding-right: 2%;
}

.propertyImgDiv{
	height: 150px;
	border: 1px solid #ddd;
	width: 100%;
}

.myPropertiesInternal{
	height:42px;
}

.headerDiv{
	background-color: #044890 !important;
	height: 100px;
}

.propertyHaedText{
	font-weight: bold;
}
.propertySubText1{
	font-weight: bold;
	font-size: 16px;
}
.propertySubText2{
	font-weight: bold;
	font-size: 15px;
}
.mt20{
	margin-top: 20px;
}

.intrestBtn{
	position: absolute !important;
	margin-top: 10px;
	color:#fff;
	background-color: #F1A94B;
	padding: 5px;
	margin-left:20% !important;
	border-radius: 2px;
}
.img{

}

.bgGrey{
	color: #C3C4C3;
}

.btnDetails{
	background-color: #044890;
	color: #ffffff !important;
}
.btnImg{
	width:40%;
}

.heartBtn{
	cursor: pointer;
	text-align: center;
}

#triangle-topright {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 100px solid #F1A94B;
    border-left: 100px solid transparent;
    left: 92%;
    top: 0px;
}

.transactionLabel{
	position: absolute;
	color: #fff;
	margin-top: 0px;
	font-size: 20px;
	margin-left: 42%;
	font-weight: bold;
	transform: rotate(45deg);
}

.newPost{
	margin-top: 20px;
}

.myPostProp{
	min-height: 500px;
}

.noPad{
	padding-left: 0px !important;
	padding-right: 0px !important;
}



/*-------------------------------------------------*/
/* Create a custom checkbox */
.inputStyledbtn{
  position: relative;
  padding-top: 5px;
  align-content: center;
  cursor: pointer;
  user-select: none;
}
/* Hide the browser's default checkbox */
.inputStyledbtn input {
    position: relative;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    height: 17px;
    width: 17px;
    /* right: 10px; */
    margin-top: 2px;
}
.checkBoxBlock {
  position: absolute;
  top: 7px;
  left: 0px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ddd;
  z-index: 0;
}
.radioBoxBlock {
  position: absolute;
  top: 8px;
  left: 51px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
.plusContainer{
    font-family: 'PT Sans', sans-serif;

}
/* On mouse-over, add a grey background color */
.inputStyledbtn:hover input ~ .checkBoxBlock{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.inputStyledbtn input:checked ~ .checkBoxBlock {
  background-color: #F9A944;
  border:2px solid #F9A944;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxBlock:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.inputStyledbtn input:checked ~ .checkBoxBlock:after {
  display: block;
}
/* Style the checkmark/indicator */
.inputStyledbtn .checkBoxBlock:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* On mouse-over, add a grey background color */
.inputStyledbtn:hover input ~ .radioBoxBlock{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.inputStyledbtn input:checked ~ .radioBoxBlock {
  background-color: #F9A944;
  border:2px solid #F9A944;
}
/* Create the checkmark/indicator (hidden when not checked) */
.radioBoxBlock:after {
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.inputStyledbtn input:checked ~ .radioBoxBlock:after {
  display: block;
   background-color: transparent;
}
/* Style the checkmark/indicator */
.inputStyledbtn .radioBoxBlock:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;  


  transform: rotate(45deg);
}
.centreDetaillistItemEcommerce{
  padding-left: 25px;
  font-family: 'PT Sans', sans-serif;

  padding-top: 5px;
  font-size: 12px !important;
}	

.searchIcon{
  background-color: #fff;
  cursor: pointer;
}

.bgGold{
  background-color: #F1A94B;
  color: #fff;
}


.caret-up { 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    margin-top: 7px;
    display: inline-block;
}

.bgDelete{
	background-color: #f00;
	color: #fff;
}

.boxmsg{
  height: 220px;
  text-align: center;
  border: 1px solid #ccc !important;
  margin-top:60px;
  color: #999;
  font-size: 20px;
  padding-top: 50px;
}
