.BoxSize{
	height: 672px;
	background-image: url("/images/TGK_Post.png");
}

.hText{
	text-align: center;
	color: #fff;
    text-align: center;
    color: #fff;
    margin-top: 45px;
    margin-left: 30px;
    font-family: Roboto;
    /* font-weight: 700; */
    letter-spacing: 1px;
    font-weight: bold;

}
.hText1{
	margin-top: 35px;
    text-align: center;
    color: #fff;
}
.btn-bg{
	background-color: #fff;
	color: #000;
}
.ml-10{
	margin-left: 10px;
}
.mt-10{
	margin-top: 10px;
}
.hSearch{
	margin-top: 21px;
    margin-left: 92px;
    width: 400px;
    height: 43px;
}
.S-img{
	left: 92px;
    width: 71px;
    height: 43px;
    position: relative;
    top: 21px;
    /*background-image: url("/images/TGK-key.png");*/
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-color: #000;
}
.S-img1{
    /*background-image: url("/images/TGK-key.png");*/
    left: -20px;
    top:7px;
}
.btnPost{
    width: 161px;
    height: 88px;
    font-size: 22px;
    border-bottom: 5px solid #044b88;
}
.postDetails{
	font-size: 19px;
    color: #fff;
    text-align: center;
    margin-left: 9px;
    margin-bottom: 11px;
}
.postDetails1{
	margin-left: 12px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
}
.postDetails2{
   color: #fff;
   margin-left: 40px;
}
.postDetails3{
    color: #fff;
    letter-spacing: 1px;
}
.mt-64{
	margin-top: 64px;
}
.br2{
	border-right: 2px solid #fff;
    padding-left: 39px;
    color: #fff;
    text-align: center;
}
.mb90{
    margin-bottom: 90px;
}
.intro{
    background-color: #f5ad3e !important;
    /*border: none;*/
}