/*add this class next to form-control*/
.inputBox{
  font-family:'Montserrat',sans-serif;
  height: 30px !important;
  border: none !important;
  border-left: 1px solid #979797 !important;
  font-size: 12px !important;
}
.valid_box{
  height: 60px;
}



.inputBox:hover{
  border-left:1px solid #039BE5 !important;
  box-shadow: none !important;
}

.title_pd{
  padding-top: 15px;
  padding-bottom: 15px;
}

.iconClr{
  color: #ccc;  
}
.mrg_bt_35{
  margin-bottom: 35px;
}

.back_btn:hover{
  color: #666;
}
/*************************************************************************************/
.ModalPd{
	padding: 0px !important;
}
.labelMarg{
	margin-left: 8px;
}

.nxt_btn{
  background-color: #039BE5;
  color: #fff;
}
.mrgBtm{
	margin-bottom: 15px;
	padding-top:5px;
}
.hr_border{
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	box-shadow: 0px 3px 2px -1px #ccc;
}
.pl29{
  padding-left: 29px;
}
.itIs{
    margin-top: 7px;
    margin-bottom: 5px;

}
.mb10{
  margin-bottom: 10px;
}
.mb7{
  margin-bottom: 7px;
}
.mt23{
  margin-top: 23px;
}