#myProgress {
  position: relative;
  width: 100%;
  height: 17px;
  background-color: #ddd;
  margin-top: 4px;
}

#myBar {
  position: absolute;
  width: 10%;
  height: 100%;
  background-color: #4CAF50;
}

#label {
  text-align: center;
  line-height: 17px;
  color: white;
}