.nav>li>a:hover {
    text-decoration: none;
    /*background-color: #795050;*/
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    color:#fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #8f90ce;
    border-color: #337ab7;
}
.dropdown-menu > li > a {
    color: #312f2f;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #fff;*/
}
.navText{
	background-color: transparent !important;
    margin-top: 21px;
    margin-left: 29px;
    margin-top: 24px;
}
.hImg{
	/*height: 100px;*/
	text-align: center;
    width: 80px;
    height: 61px;
    margin-top: 19px;
}

.headerMenu{
	padding-top: 20px;
    /*padding-left: 65px;*/
    font-size: 15px;
    font-family: Roboto;
    text-align: center;
    /*background-color: #044890;*/

}
.headerColor{
    background-color: #044890;
}
.customNav>li>a:focus, .customNav>li>a:hover{
 background-color: #8f90ce !important;
}
.navbar-nav .open .dropdown-menu{
    background-color: #fff !important;
}