.App {
/*  text-align: center;
*/}
.pointerCls{
  cursor: pointer;
}
.mar0{
  margin: 0px !important;
}
.zeropadd{
  padding: 0px !important;
}
.marbtm30{
  margin-bottom: 30px;
}
.tablebox{
  margin-top: 30px;
}
.leftmar{
  margin-left: 10px;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.zzero{
  z-index: 0!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#sidebar{
  height: 100vh!important;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------background colors of admin page -----------*/

.headerbackgroundcolor
{
    background-color: #3c8dbc;
  }

.headereffect
{
    width: 94%!important;
  }
  .dashboardeffect
{
    width: 94.2%!important;
  }
.leftsidebarbackgroundcolor{
  position: fixed!important;
  left: 15px;
}

.dasbordbackgroundcolor{
  background-color: #eee;
  height:au;
}

.emptyclass{
  height: 100px;
}
.kbhj{

}