.BoxSize{
	height: 674px;
	background-image: url("/images/TGK_Post.png");
}

.hText{
	text-align: center;
	color: #fff;
    text-align: center;
    color: #fff;
    margin-top: 45px;
    margin-left: 30px;
    font-family: Roboto;
    /* font-weight: 700; */
    letter-spacing: 1px;
    font-weight: bold;

}
.hText1{
	margin-top: 35px;
    text-align: center;
    color: #fff;
}
.btn-bg{
	background-color: #fff;
	color: #000;
}
.ml-10{
	margin-left: 10px;
}
.mt-10{
	margin-top: 10px;
}
.hSearch{
	margin-top: 21px;
    height: 43px;
}
.S-img{
    height: 43px;
    position: relative;
    top: 21px;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-color: #000;
}
.tgkImg{
    width:70%;
    margin-left: 15%;
    margin-top: 5px;
}
.S-img1{
    left: -20px;
    top:7px;
}
.btnPost{
    height: 88px;
    font-size: 22px;
    border-bottom: 5px solid #044b88;
}
.postDetails{
	font-size: 19px;
    color: #fff;
    text-align: center;
    margin-bottom: 11px;
    font-size: 24px;
    font-weight: bold;
}
.postDetails1{
	margin-left: 12px;
    color: #fff;
    margin-top: 10px;
    letter-spacing: 2px;
}
.postDetails2{
   color: #fff;
   margin-left: 40px;
}
.postDetails3{
    color: #fff;
    letter-spacing: 1px;
}
.mt-64{
	margin-top: 64px;
}
.br2{
	border-right: 2px solid #fff;
    color: #fff;
    text-align: center;
}
.mb30{
    margin-bottom: 30px;
}
.intro{
    background-color: #f5ad3e !important;
    /*border: none;*/
}
.prText{
    text-align: center;
}
.prText p{
    padding-top: 5px;
}

.loginmodalclose{
    position: absolute;
    color: #fff;
    right:100px;
    top: 100px;
    font-size: 22px;
    cursor:pointer;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000 !important;
    background-color: #f5ad3e !important;
}
