.searchDiv{
	height: 50px;
	background-color: #D7D7D7;
}
.boxmsg{
	height: 220px;
	text-align: center;
	border: 1px solid #ccc !important;
	margin-top:60px;
	color: #999;
}

.boxmsg p {
	font-size: 22px;
	color:#666;
	margin-top:75px;
}

.searchBar{
	margin-top: 7PX;
}
.result{
	margin-top: 30px;
	height: 200px
}
.bgWhite{
	background-color: #fff;
	border-right : 1px solid #eee !important;
	border-top   : 2px solid #F9A944 !important;
}

.bgWhite:hover{
	color: #fff;
	background-color: #F9A944;
}

/*.bgWhite:focus{
	color: #fff;
	background-color: #0C4890;
}*/

/*.topRightTriangle{
	left: 90.5% !important;
}*/
.searchResults{
	background-color: #EEEEEE;
	height: 2500px;
}

.pad{
	padding-left: 5%;
	padding-right: 5%;
}

.marginLeft{
	margin-left: 5px;
	margin-top: 5px;
}

.goBtn{
	background-color: #000;
	color: #fff;
	margin-left: 8px;
}
.sqftMt{
	margin-top: 7px;
}


.selectOption{
	cursor: pointer;
}


.selectOption:hover{
	background-color: #eee;
}

.areaBtn .dropdown-menu{
	min-width: 300px !important;
}


.propertyType .dropdown-menu{
	min-width: 500px !important;
}

.property{
	
	/*margin-top   : 3px;*/
}

.property .dropdown-menu{
	line-height: 25px !important
}


.mt36{
	  margin-top: 50px;
	  border-top: 2px solid #F9A944;
}

.constructionBtn .dropdown-menu{
	min-width: 200px !important;
	text-align: left !important;
	max-height: 150px;
    overflow-y: scroll;
}

.sDrop{
	background-color: #044890 !important;
	color: #fff;
}

.caret{
	float: right;
	margin-top: 8px;
}

.searchDiv1 .btn{
	border-radius: 0px !important;
	height: 47px;
}


.searchDiv input:focus, textarea:focus, select:focus{
	border-radius: 0px !important;
 }

 .searchDiv select {
  -webkit-border-radius: 0px !important;
  outline: none;
}

 .searchDiv .form-control{
  	/*border : 0px solid #fff!important;*/
	/*border-radius: 0px !important;*/

 }
.searchDiv .input-group-addon{
  	/*border : 0px !important;*/
}

 .searchDiv1 select {
  -webkit-border-radius: 0px;
  height:50px;
  cursor: pointer;
}
 
 .searchDiv1 .form-control{
  	height:46px;
  	border : 0px !important;
 }

 .searchDiv1 .btn:focus, .btn:hover{
 	outline: none !important;
/* 	background-color: #F9A944;
 	color: #fff;*/
 }

.badgeP{
	position 	: absolute;
    top 		: 0px;
    left 		: 0px;
    z-index 	: 1;
    height		: 20px;
    width       : 25px;
    color 		: #0C4890;
	background 	: transparent;
}

.bgWhite + .badgeP:hover{
	color: #fff;
}

.caret-up { 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    margin-top: 7px;
    display: inline-block;
}


.property label{
	font-weight: normal !important;
}

.pAge{
	width:200px;
}

.misc{
	width: 200px;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
    width : 180px;
}


/*-------------------------------------------------*/
/* Create a custom checkbox */
.inputStyledbtn{
  position: relative;
  padding-top: 5px;
  align-content: center;
  cursor: pointer;
  user-select: none;
}
/* Hide the browser's default checkbox */
.inputStyledbtn input {
    position: relative;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
    height: 17px;
    width: 17px;
    /* right: 10px; */
    margin-top: 2px;
}
.checkBoxBlock {
  position: absolute;
  top: 7px;
  left: 0px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #ddd;
  z-index: 0;
}
.radioBoxBlock {
  position: absolute;
  top: 8px;
  left: 51px;
  vertical-align: center !important;
  align-content: center;
  height: 17px;
  width: 17px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px solid #ddd;
  margin-left: -37px;
  z-index: 0;
}
.plusContainer{
    font-family: 'PT Sans', sans-serif;

}
/* On mouse-over, add a grey background color */
.inputStyledbtn:hover input ~ .checkBoxBlock{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.inputStyledbtn input:checked ~ .checkBoxBlock {
  background-color: #F9A944;
  border:2px solid #F9A944;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkBoxBlock:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.inputStyledbtn input:checked ~ .checkBoxBlock:after {
  display: block;
}
/* Style the checkmark/indicator */
.inputStyledbtn .checkBoxBlock:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* On mouse-over, add a grey background color */
.inputStyledbtn:hover input ~ .radioBoxBlock{
  background-color: #eee;
}
/* When the checkbox is checked, add a blue background */
.inputStyledbtn input:checked ~ .radioBoxBlock {
  background-color: #F9A944;
  border:2px solid #F9A944;
}
/* Create the checkmark/indicator (hidden when not checked) */
.radioBoxBlock:after {
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.inputStyledbtn input:checked ~ .radioBoxBlock:after {
  display: block;
   background-color: transparent;
}
/* Style the checkmark/indicator */
.inputStyledbtn .radioBoxBlock:after {
  left: 4px;
  top: 0px;
  width: 6px;
  height: 10px;
  align-content: center;
  border: solid white;
  border-width: 0 3px 3px 0;  


  transform: rotate(45deg);
}
.centreDetaillistItemEcommerce{
  padding-left: 25px;
  font-family: 'PT Sans', sans-serif;

  padding-top: 5px;
  font-size: 12px !important;
}	

.searchIcon{
  background-color: #fff;
  cursor: pointer;
}

.bgGold{
  background-color: #F1A94B;
  color: #fff;
}
/*--------------------------------------------*/

.resInterestShown{
    z-index: 2;
    position: absolute;
    top: 17px;
    left: 11%;
    height: 30px;
    background-color: #ffa51f;
    border-radius: 4px;
    text-align: center;
    color: #3944BC;
    padding-top: 6px;
    cursor: pointer;
    width: 14%;
}

.resInterestExpress{
    z-index: 2;
    position: absolute;
    top: 17px;
    left: 11%;
    height: 30px;
    background-color: #F5AD3E;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding-top: 6px;
    cursor: pointer;
    width: 14%;
}