.searchDiv{
	height: 50px;
	background-color: #D7D7D7;
}
.boxmsg{
	height: 220px;
	margin: auto;
	text-align: center;
	border: 1px solid #ccc !important;
	margin-top:60px;
	left:200px;
	color: #999;
}

.boxmsg p {
	font-size: 22px;
	color:#666;
	margin-top:75px;
}

.searchBar{
	margin-top: 7PX;
}
.result{
	margin-top: 30px;
	height: 200px
}
.bgWhite{
	background-color: #fff;
	border-right : 1px solid #eee !important;
	border-top   : 2px solid #F9A944 !important;
}

.bgWhite:hover{
	color: #fff;
	background-color: #F9A944;
}

.bgWhite:focus{
	color: #fff;
	background-color: #0C4890;
}

.topRightTriangle{
	left: 90.5% !important;
}
.searchResults{
	background-color: #EEEEEE;
	height: 2500px;
}

.pad{
	padding-left: 5%;
	padding-right: 5%;
}

.marginLeft{
	margin-left: 5px;
	margin-top: 5px;
}

.goBtn{
	background-color: #000;
	color: #fff;
	margin-left: 8px;
}
.sqftMt{
	margin-top: 7px;
}


.selectOption{
	cursor: pointer;
}


.selectOption:hover{
	background-color: #eee;
}

.areaBtn .dropdown-menu{
	min-width: 300px !important;
}


.propertyType .dropdown-menu{
	min-width: 500px !important;
}

.property{
	
	/*margin-top   : 3px;*/
}

.property .dropdown-menu{
	line-height: 25px !important
}

.property:hover{
	background-color: #f00;
}

.mt36{
	  margin-top: 50px;
	  border-top: 2px solid #F9A944;
}

.constructionBtn .dropdown-menu{
	min-width: 200px !important;
}

.sDrop{
	background-color: #044890 !important;
	color: #fff;
}

.caretMl{
	margin-left: 30% !important;
}

.caretMlC{
	margin-left: 10% !important;
}

.searchDiv1 .btn{
	border-radius: 0px !important;
	height: 47px;
}


.searchDiv input:focus, textarea:focus, select:focus{
	border-radius: 0px !important;
 }

 .searchDiv select {
  -webkit-border-radius: 0px !important;
  outline: none;
}

 .searchDiv .form-control{
  	/*border : 0px solid #fff!important;*/
	/*border-radius: 0px !important;*/

 }
.searchDiv .input-group-addon{
  	/*border : 0px !important;*/
}

 .searchDiv1 select {
  -webkit-border-radius: 0px;
  height:50px;
  cursor: pointer;
}
 
 .searchDiv1 .form-control{
  	height:46px;
  	border : 0px !important;
 }

 .searchDiv1 .btn:focus, .btn:hover{
 	outline: none !important;
/* 	background-color: #F9A944;
 	color: #fff;*/
 }

.badgeP{
	position 	: absolute;
    top 		: 0px;
    left 		: 0px;
    z-index 	: 1;
    height		: 20px;
    width       : 25px;
    color 		: #0C4890;
	background 	: transparent;
}

.bgWhite + .badgeP:hover{
	color: #fff;
}
/*---------------------checkbox Start-----------*/

/*-----------Checkbox End------------*/


