.footerDiv{
    height: 540px;
    background-color: #2a3b93;
    border-top: 20px solid #3969fa;
    color: #fff;
}

.header{
	font-size: 25px;
}


.footerContactDetails{
	margin-top: 50px;
}


.inputBoxRequest {
    font-family: 'Montserrat',sans-serif;
    height: 40px !important;
    border: 1px solid #979797 !important;
    font-size: 14px !important;
}

.contactDetails{
	margin-top: 10px;
	letter-spacing: 1px;

}

.sendButton{
	background-color: #008AFA;
	color: #fff !important;
}

.boarderR{
	color: #666 !important;
}