/*footer css*/
.footerDiv{
    height: 230px;
    background-color: #2a3b93;
    border-top: 20px solid #3969fa;

}
.footerContent{
  padding-top: 65px;
}
.footerImgContainer img{
  height: 70px;
}
.footerContactDetails{
  color: #efefef;
  font-size: 12px;
}
.footerContactDetails label{
  font-size: 14px;
}
.footerScocial
{
   height: 30px;
    border-radius: 50%;
    padding: 0 !important;
    background-color: #fff;
    padding-top: 4px !important;
    border: 1px solid #aaa;
    text-align: center;
    font-size: 17px;
    color: #2a3b93;
    margin-bottom: 20px;
}
.footerScocial > a > i{
    color: #2a3b93;
}
.footerScocial a : visited{
    color: #2a3b93;
}
.bottomDivFooter{
    background-color: #1c2c66;
    height: 50px;
    padding-top: 15px;
    color: #fff;
}
.bottomDivFooter label{
  font-size: 12px;
  font-weight: normal !important;
}
.rightDiv label{
  margin-left: 35px;
}