.oneProp{
	height: 440px;
	box-shadow: 0px 0px 10px #ccc;
}

.mt10{
	margin-top: 10px;
}
.ml17{
    margin-left: 17px;
}

.mt30{
	margin-top: 30px;
}
.bBottom{
	border-bottom: 1px solid #ccc;
}
.pr8{
	padding-right:8px;
}
.pl30{
    padding-left: 30px;
}
.imgSize{
	height: 210px;
}
.zoom{
     transition: transform .5s;
}

.imgZoom{
    overflow: hidden !important;
}
.zoom:hover{

    transform: scale(1.2); 
}
.textC{
	text-align: center;
}
.priceDiv{
	height: 30px;
}
#bgImg{
	 z-index: 2;
	 position: absolute;
	 top: 0px; 
	 left: 0px; 
	 /*background-image:url(/images/photo2.jpeg);*/
	/*background-position:100px 200px;*/
	 height:50px;
	 width:50px;
	 background-color: #fff;
}

.info{
     position: absolute;
     top:0px;
     left: 0px;
}

#info1{
    z-index: 1;
    position: absolute;
    top: 26px;
    left: 12px;
    height: 29px;
    width: 128px;
    background-color: rgb(0,0,0,0.9);
    border-radius:4px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding-top: 8px;

}
#info2{
    z-index: 1;
    position: absolute;
    top: 26px;
    left: 149px;
    height: 29px;
    width: 64px;
    background-color: #3969fa;
    border-radius:4px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 8px;
}


#priceDisplay{
	z-index: 2;
    position: absolute;
    top: 149px;
    left: 17px;
    height: 36px;
    width: 101px;
    background-color: #fff;
    border-radius:4px;
    text-align: center;
    color:  #3944BC;
    padding-top: 9px;
}

.interestShown{
    z-index: 2;
    position: absolute;
    top: 149px;
    left: 56%;
    height: 36px;
    width: 40%;
    background-color: #ffa51f;
    border-radius: 4px;
    text-align: center;
    color: #3944BC;
    padding-top: 9px;
    cursor: pointer;
}

.interestExpress{
    z-index: 2;
    position: absolute;
    top: 149px;
    left: 56%;
    height: 36px;
    width: 40%;
    background-color: #F5AD3E;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    padding-top: 9px;
    cursor: pointer;
}

.dotDiv{
    background-color: #000;
    border-radius: 50%;
    height: 5px;
}


.intrestBtn1 {
    height: 34px;
    position: absolute;
    margin-top: 150px;
    color: #fff;
    background-color: #F1A94B;
    margin-left: 45%;
    border-radius: 4px;
}

.heartBtn{
    cursor: pointer;
    text-align: center;
}
.fontHP{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
}







