.BoxSize1 {
    height: 750px;
    background-image: url(/images/TGK_Post.png);
}

.About1{
	height: 600px;
    color: #555;
    background-color: #fff;
    margin-top: 30px;
    opacity: 0.95;
}
.About2{
	font-size: 34px;
    position: relative;
    top: 12px;
}
.About3{
	font-size: 19px;
}