
/*==============================================*/

.pBoxSize{
  /*height: 90px;*/
  height: auto;
  border: 2px solid #f4f4f4;
  margin-top: 13px;
  padding-top: 11px;
  z-index: 1;
  padding-bottom: 10px;
}
.imgSize{
  height: 145px;
    width: 143px;
}
.imgSize1{
  height: 90px;
}
.time{
  font-size: 12px;
    margin-left: 31px;
    color: #aaa;
}

.mt-8{
  margin-top: 8px ;
}
.fColor{
  color: #f00;
}

.checkbox{
  height: 50px;
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}

input[type=checkbox] {
  display: block;
  width: 20px; 
  height: 20px;
}
.check{
    position: relative;
    top: 21px;
    left: 1px;
    z-index: 2;
    opacity: 0;
}
.check1{
  margin-top: 19px
}
.check-box {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 10px solid #ccc;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease .5;
}
.check-box::before {
  top: 7px;
  left: 5px;
  transform: rotate(-135deg);
}
.check-box::after {
  top: -3px;
  left: -7px;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #e4ece5;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 45px;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 20px;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.propertyBox{
  cursor: pointer;
}
.pBoxSize:hover{
  /*background-color: #eee !important;*/
}
.propBtn1{
  position: relative;
  /*left: 66px;*/
  margin-right: 10px;
}
.propBtn2{
  position: relative;
  left: 77px;
}
.fSize13{
  font-size: 13px;
}
.cancelImg{
    width: 17px;
    /* margin-bottom: 87px; */
    /* position: relative; */
    position: absolute;
    top: -11px;
    /* left: 139px; */
    z-index: 1;
    right: -21px;
}
.shortIcon{
  width: 27px;
  margin-top: 5px;
  margin-right: 25px;
}
.trash1{
  width: 32px;
  margin-left: 6px;
}
.bookNow{
  width: 81px;
  height: 39px;
}
.tokenRec{
  width: 69px;
  height: 29px;
  margin-top: 5px;
}
.contract{
  width: 35px;
}
.rc-time-picker-input{
  border:1px solid #ccc0c0 !important;
  border-radius: none !important;
}
.emptyProp{
  border: 1px solid #ccc;
  height: 150px;
  text-align: center;
  margin-top: 175px;
}
.emptyText{
  font-size: 35px;
  margin-top: 53px;
  color: #afadad;
}