.mt-150{
	margin-top: 150px;
}

.build_img2{
	width: 168px;
    height: 228px;
    padding-top: 70px;
}
.formImgB{
	text-align: center;
    margin-top: 25px;
}
.btnNext{
	margin-top: 26px;
    margin-right: 14px;
    margin-bottom: 20px;
}
.mt-50{
	margin-top: 50px;
}
.closeIcon{
    font-size: 45px;
    color: #ff9966;
    padding: 5px;
    margin-right: -65px;
    margin-top: -40px;
}
.closeIcon:hover{
    color: #ff0000;
}
.boxLayout1{
  border: 1px solid #fff;
  height: 352px;
  box-shadow:0px 0px 5px 5px #eee;
  border-radius: 2px;
  text-align: center;
}

