.tgkImg{
	padding:7px 5px 7px 5px !important;
	border-size:0px !important;
}

.hSearch{
    height: 40px;
    border:none !important;
	border-right: 1px solid #eee !important;
    border-radius:5px 0px 0px 5px;
    outline: none;
}

.searchProperty{
	background-color: #fff;
	/*margin-top: 21px;*/
    height: 40px;
    /*border-radius:5px;*/
}

.searchProperty select {
  -webkit-border-radius: 0px;
}

#budget  input:focus, textarea:focus, select:focus{
      outline: none;
 }

.searchProperty .form-control {
    border: 0;
}
.searchProperty .form-control:focus {
    outline: none;
    text-decoration: none;
    box-shadow: none;
    border:0px solid #fff !important;
}

.sImg{
    height: 40px;
    position: relative;
    background-size: 100%,100%;
    background-repeat: no-repeat;
    background-color: #000;
    /*border-radius:0px 5px 5px 0px;*/
}

.budget{
	height: 40px;
}
.searchDrop {
    height: 40px;
    padding-top: 10px;
    border-right: 1px solid #eee;
	cursor: pointer;
}

#propertyDiv{
	position:absolute;
    z-index: 1;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    left: 33.3%;
    display: none;
}

#budget{
	position:absolute;
    z-index: 1;
    top: 5px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #666;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    left: 66.8%;
    display: none;
}

.budgetOption{
	height: 40px!important;
	overflow: scroll !important; 
    padding-left: 5%;
}

.searchProperty .btn{
    height: 40px;
}

.mt39{
    margin-top: 42px;
    border-top   : 2px solid #F9A944 !important;
}

.searchProperty .dropdown-menu{
    line-height: 25px !important
}

.divWhite{
    background-color: #fff;
}

.searchProperty .btn{
    padding: 0px !important
}