/*add this class next to form-control*/
.inputBox{
  font-family:'Montserrat',sans-serif;
  height: 30px !important;
  border: none !important;
  border-left: 1px solid #979797 !important;
  font-size: 12px !important;
}
.valid_box{
  height: 60px;
}
.inputBox:hover{
  border-left:1px solid #039BE5 !important;
  box-shadow: none !important;
}

.title_sz{
	font-size: 16px;
}
.btn_res{
	border: 1px solid #666;
	height: 40px;
	vertical-align: middle;
	/*margin-top: 15px;*/
}

.marg_top{
	padding-top: 12px;
}
.title{
	margin-top: 30px;
	margin-bottom: 10px;
}
.margTop{
	margin-top: 10px;
}
/************************************************/
.ModalPd{
	padding: 0px !important;
}

/*************************************************************************************************************************
***********************************************************************************************/
.sellerType1{
	  height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 5px 0px 5px 3px #eee;
    border:none;
}
.sellerType2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 5px 0px 5px 3px #eee;
    border:none;
}
.sellerType3{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 5px 0px 5px 3px #eee;
    border:none;
}

.logo1{
    color: #ccc;
    margin-left: -20px;
    position: absolute;
    z-index: 1;
    margin-top: 4px;
    
}
.logo1:hover{
  color: #ff0;
}
.box{
	border: 1px solid #ccc;
	height: 250px;
}
.crcle_mrg{
	margin-top: 14px;
	margin-left: 0px;
}

/*.sellerType:hover i{
	color: #ff0;
}*/
/*.sellerType:hover{
  background-color: #F4B400;
}*/
.FrRadio{
    transform: scale(3.5);
    opacity: 0; 
    position: absolute;
    z-index: 3;
}
.crc_mrg_btm{
	margin-bottom: 10px;

}

.title_mrg{
	margin-left: -22px;
	margin-top: 15px;
}
.title2_mrg{
	margin-left: 32px;
	margin-top: 15px;
  margin-bottom: 15px;
}
.title3_mrg{
	margin-top: 15px;
  margin-left: 13px;
}
.sbtittle_mrg{
  margin-bottom: 10px;
}
.boxLayout{
  border: 1px solid #fff;
  height: 352px;
  box-shadow:0px 0px 5px 5px #eee;
  border-radius: 2px;
  text-align: center;
  padding-top: 96px;
}

.nxt_btn{
  background-color: #039BE5;
  color: #fff;
}
.hr_border{
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  box-shadow: 0px 3px 2px -1px #ccc;
}

.title_pd{
  padding-top: 15px;
  padding-bottom: 15px;
}
.mb5{
  margin-bottom:5px;
}
.mrgBtm_25{
  margin-bottom: 25px;
}
.nxt_btn:hover{
  color:#fff;
}

.ml-59{
  margin-left: 59px;
}
.ml-53{
  margin-left: 53px;
}
.mb-40{
  margin-bottom: 40px;
}

.highlight {
  background-color: #f7b313;
}

 
/*******************************************************************************************************
/*************************************************************************************
***************************************************************************************/
/*toggle button*/

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle__switch {
  margin-left: 0px !important;
}


.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #ffffff !important;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
  top:0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
 
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;

  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #969899;
}

.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}


.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle__switch{
  margin-left: 400px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #ffffff !important;
  width: 300px !important;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #2E3951;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #666;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #969899;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1),
   -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 37px;
  flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 28px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 3px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 25px;
  font-size: 13px;
}

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;

  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
 
  text-align: center;
  background: #039BE5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #ffffff;
}


.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}

.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}



.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}

.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}


.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #666;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  background: #ffffff;
  border: 1px solid #979797;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #2E3951;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff !important;
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}

.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 30px;
  flex: 0 0 234px;
  font-weight: 800;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 120px;
  font-size: 13px;
  line-height: 28px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 106px !important;
  line-height: 25px;
  font-size: 13px;
}
