.oneProp{
	height: 425px;
	box-shadow: 0px 0px 10px #ccc;
}
.noPad{
	padding: 0px !important;
}
.mt10{
	margin-top: 10px;
}

.mt30{
	margin-top: 30px;
}
.bBottom{
	border-bottom: 1px solid #ccc;
}
.pr8{
	padding-right:8px;
}
.pl30{
    padding-left: 30px;
}
.imgSize{
	height: 210px;
}
.zoom{
     transition: transform .5s;
}

.imgZoom{
    overflow: hidden !important;
}
.zoom:hover{

    transform: scale(1.2); 
}
.textC{
	text-align: center;
}
.priceDiv{
	height: 30px;
}
#bgImg{
	 z-index: 2;
	 position: absolute;
	 top: 0px; 
	 left: 0px; 
	 /*background-image:url(/images/photo2.jpeg);*/
	/*background-position:100px 200px;*/
	 height:50px;
	 width:50px;
	 background-color: #fff;
}
#info1{
	z-index: 1;
    position: absolute;
    top: 26px;
    left: 12px;
    height: 29px;
    width: 128px;
    background-color: #3944BC;
    border-radius:4px;
    text-align: center;
    font-size: 11px;
    color: #fff;
    padding-top: 8px;

}
#info2{
	z-index: 1;
    position: absolute;
    top: 26px;
    left: 149px;
    height: 29px;
    width: 64px;
    background-color: #ffc107;
    border-radius:4px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    padding-top: 8px;
}

#priceDisplay{
	z-index: 2;
    position: absolute;
    top: 149px;
    left: 17px;
    height: 36px;
    width: 101px;
    background-color: #fff;
    border-radius:4px;
    text-align: center;
    color:  #3944BC;
    padding-top: 9px;
}