/*add this class next to form-control*/
.inputBox{
  font-family:'Montserrat',sans-serif;
  height: 30px !important;
  border: none !important;
  border-left: 1px solid #979797 !important;
  font-size: 12px !important;
}
.valid_box{
  height: 60px;
}
.inputBox:hover{
  border-left:1px solid #039BE5 !important;
  box-shadow: none !important;
}

/*.hr_border{
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  box-shadow: 0px 3px 2px -1px #ccc;
}*/
.hr_border2{
  margin-bottom: 30px;
}
.back_btn:hover{
  color: #666;
}

/**********************/
/*input icon*/
/*input icon*/
/*.inputIcon{
  height: 30px !important;
  font-size: 18px !important;
  color: #979797 !important;
  background-color: #ffffff !important;
  border: none !important;
}*/
.inputIcon{
	background: #fff;
}

/*************************************/
/*Add this class next to input-group*/
/*.inputBox-main{
  border: 1px solid #979797 !important;
  border-radius: 3px !important;
  height: 30px !important;
  font-size: 12px !important;
}*/
.chkbx{
  height: 18px;
    /* position: absolute; */
    width: 25px;
    position: relative;
    margin:0px !important;
}

.marg_left{
  margin-left: 15px;
}

.ModalPd{
  padding: 0px !important;
}

/***********************************************************************************************************
*********************************************************************************************************/
*toggle button*/

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle__switch {
  margin-left: 0px !important;
}


.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
    color: #ffffff !important;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
  top:0;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
 
  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;

  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #969899;
}

.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}


.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle__switch{
  margin-left: 400px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}
.can-toggle label .can-toggle__switch:hover:after {
  /*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:hover:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch {
  background-color: #b53e74;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-1 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  color: #8f315c;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out;
  transition: transform 0.9s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #ffffff !important;
  width: 300px !important;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #2E3951;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  background: #666;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #969899;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1),
   -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:focus ~ label .can-toggle__switch:after, .can-toggle.demo-rebrand-2 input[type="checkbox"]:checked:hover ~ label .can-toggle__switch:after {
  /*box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);*/
}
.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 37px;
  flex: 0 0 120px;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 60px;
  font-size: 13px;
  line-height: 28px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 3px;
  left: 2px;
  border-radius: 30px;
  width: 58px;
  line-height: 25px;
  font-size: 13px;
}

.can-toggle {
  position: relative;
}
.can-toggle *, .can-toggle *:before, .can-toggle *:after {
  box-sizing: border-box;
}
.can-toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.can-toggle input[type="checkbox"][disabled] ~ label .can-toggle__switch {
  opacity: 0.4;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:before {
  content: attr(data-unchecked);
  left: 13px;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  content: attr(data-checked);
}
.can-toggle label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  display: flex;
  align-items: center;
}
.can-toggle label .can-toggle__label-text {
  flex: 1;
  padding-left: 32px;
}
.can-toggle label .can-toggle__switch {
  position: relative;
}
.can-toggle label .can-toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;

  text-align: center;
}
.can-toggle label .can-toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
 
  text-align: center;
  background: #039BE5;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.can-toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(119, 119, 119, 0.5);
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #70c767;
}
.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #ffffff;
}


.can-toggle label .can-toggle__label-text {
  flex: 1;
}
.can-toggle label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0, 1, 0.9, 1);
  background: #848484;
}
.can-toggle label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.5);
}
.can-toggle label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1);
  transition: transform 0.9s cubic-bezier(0, 1, 0.9, 1), -webkit-transform 0.3s cubic-bezier(0, 1, 0.5, 1);
  color: #777;
}

.can-toggle input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(65px, 0, 0);
          transform: translate3d(65px, 0, 0);
}

.can-toggle label {
  font-size: 14px;
}
.can-toggle label .can-toggle__switch {
  height: 36px;
  flex: 0 0 134px;
  border-radius: 4px;
}
.can-toggle label .can-toggle__switch:before {
  left: 67px;
  font-size: 12px;
  line-height: 36px;
  width: 67px;
  padding: 0 12px;
}
.can-toggle label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 65px;
  line-height: 32px;
  font-size: 12px;
}



.can-toggle.can-toggle--size-large input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(78px, 0, 0);
          transform: translate3d(78px, 0, 0);
}

.can-toggle.can-toggle--size-large label {
  font-size: 14px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch {
  height: 50px;
  flex: 0 0 160px;
  border-radius: 4px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:before {
  left: 80px;
  font-size: 14px;
  line-height: 50px;
  width: 80px;
  padding: 0 12px;
}
.can-toggle.can-toggle--size-large label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 2px;
  width: 78px;
  line-height: 46px;
  font-size: 14px;
}

.can-toggle.demo-rebrand-1 input[type="checkbox"][disabled] ~ label {
  color: rgba(181, 62, 116, 0.5);
}


.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #44ae7f;
}
.can-toggle.demo-rebrand-1 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #368a65;
}

.can-toggle.demo-rebrand-1 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch {
  transition: background-color 0.9s ease-in-out;
  background: #c14b81;
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:before {
  color: rgba(255, 255, 255, 0.6);
}
.can-toggle.demo-rebrand-1 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #b53e74;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"][disabled] ~ label {
  color: rgba(68, 68, 68, 0.5);
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch {
  background-color: #75d32d;
}
.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  color: #666;
}

.can-toggle.demo-rebrand-2 label .can-toggle__label-text {
  flex: 1;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  transition: background-color 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  background: #ffffff;
  border: 1px solid #979797;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  color: #2E3951;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  transition: -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.9s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
  color: #ffffff !important;
}

.can-toggle.demo-rebrand-2 input[type="checkbox"]:checked ~ label .can-toggle__switch:after {
  -webkit-transform: translate3d(122px, 0, 0);
          transform: translate3d(122px, 0, 0);
}

.can-toggle.demo-rebrand-2 label {
  font-size: 13px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch {
  height: 30px;
  flex: 0 0 234px;
  font-weight: 800;
  border-radius: 60px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:before {
  left: 120px;
  font-size: 13px;
  line-height: 28px;
  width: 60px;
  padding: 0 12px;
}
.can-toggle.demo-rebrand-2 label .can-toggle__switch:after {
  top: 2px;
  left: 2px;
  border-radius: 30px;
  width: 106px !important;
  line-height: 25px;
  font-size: 13px;
}

/****************************************************************/
.weekBtn {
    margin-right: 17px;
    padding: 10px 13px;
    background: #eee;
    border-radius: 5px;
    border: none;
    color: #666;
    box-shadow: 0px 2px 2px 2px #ddd;
}
.weekMarg_btm{
  margin-bottom: 30px;  
}
.weekBtn_lst{
  margin-right: 0px !important;
}

.margBtm_30{
  margin-bottom: 30px;
}
/*************************************************************/
/**************************************************/
/*React table css for all react tables*/
.ReactTable .rt-thead.-header {
  font-family:'Montserrat',sans-serif !important;
  background-color: #039BE5 !important;
  color      :#f2f2f2 !important;
  font-size  : 14px !important;
  height     : 40px !important;
  text-align : right !important;
  padding-top:5px;
  border: 1px solid #eee;
    text-align:center;
}
.ReactTable .rt .td{
  font-family:'Montserrat',sans-serif;
  padding: 10px;
  text-align:center;
}
/*React Table End*/
.ReactTable 
{
  text-align : center !important;
}
