
.personServices{
    font-family: 'Roboto', sans-serif;
    margin-top: -42px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #aaa;
    height: 225px;
    padding-top:38px;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
}
.personServices i{
    color: #678afa;
    font-size: 40px;
}
.personServices label{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    margin-bottom: 18px;
}

/*.mt40{
    margin-top: 60px;
}*/
.mt9{
    margin-top: 9px;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  
  border-left: 60px solid green;
}
.sale1{
    z-index: 1;
}
.sale2{
    z-index: 2
}
.saleImg{
    width: 359px;
    position: absolute;
    top: 48px;
    left: -20px;
}
.saleImg1{
    vertical-align: middle;
    width: 78px;
    margin-top: 20px;
}
.saleImg2{
    vertical-align: middle;
    width: 71px;
    margin-top: 20px;
    /*position: relative;
    left: 29px;*/
}
.saleImg21{
    vertical-align: middle;
    width: 71px;
    margin-top: 20px;
    margin-left: 18px;
    /*position: relative;
    left: 29px;*/
}
.saleText1{
    font-size: 20px;
    font-weight: 300;
    margin-top: 13px;
    text-align: center;
}
.saleText2{
    font-size: 13px;
    font-weight: 300;
    margin-top: 13px;
    text-align: center;
    color: #f5ad3e;
}
.saleTextP{
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
.saleTextP1,.saleTextP2,.saleTextP3,.saleTextP4{
    text-align: center;
    padding: 12px;
    font-size: 15px;
    position: absolute;
    background-color: #d2d3de;
    top: 80px;
    border-radius: 46px;
    left: 1px;

}
/*============================animation===========================================*/
.saleTextP1{
    animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.saleTextP2{
 animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.saleTextP3{
 animation: scale-in-tl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.saleTextP4{
 animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/*=========================1===============================*/

@keyframes scale-in-tl {
  0% {
            transform: scale(0);
            transform-origin: 0% 0%;
            opacity: 1;
  }
  100% {
            transform: scale(1);
            transform-origin: 0% 0%;
            opacity: 1;
  }
}
/*========================2============================*/

@keyframes scale-in-tr {
  0% {
            transform: scale(0);
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
            transform: scale(1);
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
/*===================3========================*/

@keyframes scale-in-bl {
  0% {
            transform: scale(0);
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
            transform: scale(1);
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
/*=======================4============================*/

@keyframes scale-in-br {
  0% {
            transform: scale(0);
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
            transform: scale(1);
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
/*=========================animation end====================================*/


/*.saleTextP2{
    text-align: center;
    padding: 20px;
    font-size: 15px;
    position: absolute;
    background-color: ghostwhite;
    top: 92px;
}*/

.sale{
    margin-top: 65px;
    font-size: 12px;
    margin-left: 19%;
    text-align: center;
}
.saleText{
    font-size: 15px;
}
.flip-card {
  background-color: transparent;
  width: 273px;
  height: 168px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}
.divContainer{
    margin-top: 10px;
}
.divContainer1{
    margin-top: 2px;
    background-color: #fff;
    border-radius: 35px;
    border: 1px solid #ccc;
    box-shadow: 3px 3px #ccc;
    text-align: center;
}
.saleTextP1,.saleTextP2,.saleTextP3,.saleTextP4{
  display: none;
}
