.pBoxSize{
	height: 80px;
	border: 2px solid #f4f4f4;
	margin-top: 10px;
}
.imgSize{
	height: 145px;
    width: 143px;
}
.imgSize1{
	height: 90px;
}
.time{
	font-size: 12px;
    margin-left: 166px;
    color: #aaa;
}

.mt-8{
	margin-top: 8px ;
}
.fColor{
	color: #f00;
}

.checkbox{
	height: 50px;
}

@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}

input[type=checkbox] {
  display: block;
  width: 20px; 
  height: 20px;
}
.check{
    position: relative;
    top: 21px;
    left: 1px;
    z-index: 2;
    opacity: 0;
}
.check1{
	margin-top: 19px
}
.check-box {
  height: 10px;
  width: 10px;
  background-color: transparent;
  border: 10px solid #ccc;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #34b93d;
  display: inline-block;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  transition: opacity ease .5;
}
.check-box::before {
  top: 7px;
  left: 5px;
  transform: rotate(-135deg);
}
.check-box::after {
  top: -3px;
  left: -7px;
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #e4ece5;
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
  height: 45px;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
  height: 20px;
  animation: dothatopcheck 0.4s ease 0s forwards;
}

.propertyBox{
  cursor: pointer;
}
.pBoxSize:hover{
  background-color: #eee !important;
}